.banner {
    position: relative;
    display: block;
    width: auto;
    height: 50rem;
    top: 0;
    margin: auto;
    overflow: hidden;
}
.banner img {
    top: 0;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}