@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ckeditor-tailwind-reset/ckeditor-tailwind-reset';


@font-face {
  font-family: "PangramSans";
  src: url("../public/fonts/PPPangramSans-NarrowSemibold.otf");
}


#article h2 {
    font-size: large;
    line-height: 1.25rem;
    font-weight: 400;
    padding: 2rem 0;
  }


*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

html,
body {
  /* font-family: 'Merriweather', serif; */
  background-color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}
main {
  background-color: rgb(255, 255, 255);
}

div {
	display: block;
}